In [80]:
import pandas as pd

In [81]:
df = pd.read_csv('Bollywood.csv')

In [82]:
df.columns

Index(['Movie_Name', 'Release_Period', 'Whether_Remake', 'Whether_Franchise',
       'Genre', 'New_Actor', 'New_Director', 'New_Music_Director', 'Lead_Star',
       'Director', 'Music_Director', 'Screens', 'Budget', 'Revenue',
       'Profit_Factor', 'Year', 'Duration', 'Rating', 'Votes'],
      dtype='object')

In [83]:
#Change column name Lead Star to Lead_Star Movie Name to Movie_Name
df.rename(columns={'Lead Star':'Lead_Star',
                    'Movie Name':'Movie', 
                    'Release Period': 'Release_Period',
                    'Whether Remake': 'Whether_Remake',
                    'Whether Franchise': 'Whether_Franchise',
                    'New Actor': 'New_Actor',
                    'New Director': 'New_Director',
                    'New Music Director': 'New_Music_Director',
                    'Music Director':'Music_Director',
                    'Number of Screens': 'Screens',
                    'Budget(INR)': 'Budget',
                    'Revenue(INR)': 'Revenue',
                    'ProfitFactor': 'ProfitFactor',
                    'Rating': 'IMDb'},inplace=True)

# df.to_csv('Bollywood.csv', index=False)

In [84]:
#read json file
df = pd.read_json('Bollywood.json')

In [85]:
#filter all the Shahrukh Khan movies
df = df[df['Lead_Star'] == 'Shahrukh Khan']

#change Genre love_story to Romance and rom_com to Romance
df['Genre'] = df['Genre'].replace(['love_story', 'rom__com'], 'romance')

#change all Genre to Sentence case
df['Genre'] = df['Genre'].str.title()

In [86]:
#sort df by Rating
df = df.sort_values(by='Rating', ascending=False)

#remove columns Release_Period, Whether_Remake, Whether_Franchise, New_Actor, New_Director, New_Music_Director, Music_Director, Lead_Star, Music_Director
df.drop(['Release_Period', 'Whether_Remake', 'Whether_Franchise', 'New_Actor', 'New_Director', 'New_Music_Director', 'Music_Director', 'Lead_Star'], axis=1, inplace=True)

#rename columns
df.rename(columns={'Movie_Name':'Movie', 'Profit_Factor':'ProfitFactor'}, inplace=True)

In [87]:
#top 10 movies
df1 = df.head(10)

In [95]:
# df1.to_csv('Bollywood1.csv', index=False)
df1 = df1 = df1.sort_values(by='Budget', ascending=False)
df1

,Movie,Genre,Director,Screens,Budget,Revenue,ProfitFactor,Year,Duration,Rating,Votes
148,Raees,Action,Rahul Dholakia,3400,1270000000,2725200000,2.145827,2017,143,6.8,41441
241,Fan,Thriller,Maneesh Sharma,3450,1200000000,1849330000,1.541108,2016,142,7.0,43273
306,Jab Harry Met Sejal,Romance,Imtiaz Ali,3200,1190000000,1477580000,1.241664,2017,143,5.3,19349
43,Chennai Express,Masala,Rohit Shetty,3600,1150000000,3959242500,3.442820,2013,141,6.0,50307
132,My Name Is Khan,Drama,Karan Johar,1650,850000000,1931450000,2.272294,2010,165,8.0,101014
87,Jab Tak Hai Jaan,Romance,Yash Chopra,2450,780000000,2102642500,2.695696,2012,176,6.7,52231
92,Don 2,Action,Farhan Akhtar,2850,760000000,2028100000,2.668553,2011,148,7.1,50435
35,Om Shanti Om,Masala,Farah Khan,1200,400000000,1498725000,3.746812,2007,162,6.7,40120
20,Rab Ne Bana Di Jodi,Romance,Aditya Chopra,1350,390000000,1574175000,4.036346,2008,167,7.2,44985
126,Paheli,Drama,Amol Palekar,350,140000000,324535000,2.318107,2005,140,6.5,12727